<h2>About Me</h2>
<p>I currently work at EY in Assurance. I am a CIMA Passed Finalist and a CA Student.</p>

<p>My interests include speculative fiction/SFF, technology, debate, current affairs, and economic policy.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/sanujarajasinghe">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/sanujar">GitHub</a>
  </li>
  </li>
   <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:info@sanujarajasinghe.com">Email</a>
  </li>
</ul>

<hr />

<h2>My (Past) Projects</h2>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-microphone fa-lg main-list-item-icon"></span>
    <a href="https://sanujarajasinghe.com/debating/">LISW Debating</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-gavel fa-lg main-list-item-icon"></span>
    <a href="https://2019.rcmun.sanujarajasinghe.com/">RCMUN 2019</a>
  </li>
  </li>
  <li class="main-list-item">
    <span class="fa fa-pencil fa-lg main-list-item-icon"></span>
    <a href="https://examcanvas.sanujarajasinghe.com/">ExamCanvas</a>
  </li>
</ul>
 
